*
{
    margin:0px;
    padding:0px;
}

.temp_block
{
    border:2px solid rgb(255,250,250);
    border-radius: 30px;
    width: 63%;
    box-shadow:1px 1px 1px 1px gray;
}

.icon
{
    width:40%;
}

.text
{
    width:60%;
    color:#FFFAFA;
    font-family: cursive;
}


.temp_icon
{
    width:170px;
    height:160px;
    object-fit: cover;
}