.chatbox
{
    height:100vh;
    background-color: white;
}

.nav
{
    height:11vh;
    border:1px solid lightgray;
}

.chat-window
{
    height:80vh;
}

.search-field
{
    position: fixed;
    bottom:0%;
   /*  border:1px solid orange; */
    height:9vh;
}
